checkpoints/
experiments/training/outputs
experiments/pruning/outputs
experiments/pruning/imgs
experiments/redo
experiments/training/training_with_redo/results
experiments/training/training_without_redo/results

notebooks/imgs

